<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElectricalToolSuite.MECoordination.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElectricalToolSuite.MECoordination.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ElectricalToolSuite.MECoordination.Properties.Settings>
            <setting name="UseTagLeaders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MechanicalCategories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Air Terminals</string>
                        <string>Areas</string>
                        <string>Assemblies</string>
                        <string>Detail Items</string>
                        <string>Duct Accessories</string>
                        <string>Duct Fittings</string>
                        <string>Duct Insulations</string>
                        <string>Duct Linings</string>
                        <string>Ducts/Duct Placeholders</string>
                        <string>Flex Ducts</string>
                        <string>Generic Models</string>
                        <string>HVAC Zones</string>
                        <string>Mass</string>
                        <string>Mechanical Equipment</string>
                        <string>Parts</string>
                        <string>Revision Clouds</string>
                        <string>Rooms</string>
                        <string>Sheets</string>
                        <string>Spaces</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ElectricalCategories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Areas</string>
                        <string>Assemblies</string>
                        <string>Cable Tray Fittings</string>
                        <string>Cable Trays</string>
                        <string>Communication Devices</string>
                        <string>Conduit Fittings</string>
                        <string>Conduits</string>
                        <string>Data Devices</string>
                        <string>Detail Items</string>
                        <string>Electrical Equipment</string>
                        <string>Electrical Fixtures</string>
                        <string>Fire Alarm Devices</string>
                        <string>Generic Models</string>
                        <string>Lighting Devices</string>
                        <string>Lighting Fixtures</string>
                        <string>Mass</string>
                        <string>Nurse Call Devices</string>
                        <string>Parts</string>
                        <string>Revision Clouds</string>
                        <string>Rooms</string>
                        <string>Security Devices</string>
                        <string>Sheets</string>
                        <string>Spaces</string>
                        <string>Telephone Devices</string>
                        <string>Wires</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>True</value>
            </setting>
        </ElectricalToolSuite.MECoordination.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ElectricalToolSuite.MECoordination.Properties.Settings>
            <setting name="SelectedMechanicalElements" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedElectricalElements" serializeAs="String">
                <value>-1</value>
            </setting>
        </ElectricalToolSuite.MECoordination.Properties.Settings>
    </userSettings>
</configuration>